# Origin images directory path(原图片的路径)
image-path: /the/origin/image/path
# Quality ratio, between 0 to 100, 100 is lossless, 0 is highest compression ratio(保持的质量率，100为无损压缩, 0为最高压缩率)
quality-ratio: 100
# Whether need to ignore images which has transparency pixel on it (If you set true, please make sure has already installed 'Pillow' on your Env(pip install Pillow)(是否需要忽略带有透明像素点的图片(如果需要将这个值设为true，请确保已经在环境中安装了Pillow(pip install Pillow))
ignore-transparency-image: [true/false]
